h2 {
    color: blue;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
}

h3 {
    color: crimson;
}

p {
    color: blueviolet;
}

h5 {
    color: fuchsia;
}

.contact-1 {
  background-color: aqua;
}

.li-1 {
    color: indigo;
    font-size: 30px;
}

.li-2 {
    color: indigo;
    font-size: 30px;
}

img {
    height: 200px;
    width: 200px;
}

.Aboutme-1 {
    background-color: bisque;
}

.Aboutp-1 {
    font-size: 30px;
}

.Aboutul-1 {
    font-size: 30px;
}

.Author-1 {
    font-size: 20px;
}